body{
    padding: 0;
    margin: 0;
}
.navbar>.navbar-nav>li{
    padding-left: 25px;
}
.motto{
    display:flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
}
.feedbackStories{
    padding-left: 25px;
}
.freshMind{
    padding-left: 30px;
}
.footer{
    background-color: #1d1d1d;
    color: white;
}
footer .container ul li a {
    color: white; 
    
}

